<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Redoxreaktion + Salzbildung</title>
</head>

<body>
    <nav>
        <button class="button nav-button" id='navRandomButton' onclick="showContainer('random', 'navRandomButton')" disabled>Zufällige</button>
        <button class="button nav-button" id='navChosenButton' onclick="showContainer('chosen', 'navChosenButton')">Ausgewählte</button>
        <button class="button nav-button" id='navHelpButton' onclick="showContainer('help', 'navHelpButton')">Hilfe</button>
    </nav>
    <div class="container" id="random">
        <h1>Zufällige Elemente</h1>
        <button class="button" onclick="generateRandomElements()">Generiere Zufällige Elemente</button>
        
        <div class="generation" id="generation">
            <center><div id="loader-generation" class="loader"></div></center>
        </div>

        <button class="button" id="redox-button" onclick="redox()" disabled><u>Redox</u>reaktion</button>
        <div class="result" id="redox">
            <center><div id="loader-redox" class="loader"></div></center>
        </div>
        <button class="button" id="salz-button" onclick="salz()" disabled><u>Salz</u>bildung</button>
        <div class="result" id="salz">
        </div>
    </div>
    <div class="container disabled" id="chosen">
        <h1>Ausgewählte Elemente</h1>
        <div class="square">
            <div class="element metall">
                <div class="info">
                    <select id="nichtmetallSelect">
                        <option>__</option>
                    </select>
                </div>
            </div>
            <div class="element nichtmetall">
                <div class="info">
                    <select id="metallSelect">
                        <option>__</option>
                    </select>
                </div>
            </div>
        </div>
        <button class="button" id="redox-chosen-button" onclick="redox_chosen()"><u>Redox</u>reaktion</button>
        <div class="result" id="redox-chosen">
        </div>
    </div>
    <div class="container disabled" id="help">
        <h1>Hilfe!</h1>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <footer>ein Problem melden auf <a href="mailto:barykinmiron@gmail.com">barykinmiron@gmail.com</a></footer>
</body>

</html>